Lazy8Ledger/
MyDoggyPlugin/
SuperAbbrevs/
activity.log
bookmarks/
buttons/
cache/
classwizard/
contexthelp/
CtagsInterface/
dtds/
gdbplugin/
history
images/
jars-cache/
jars/VoxSpell/
javastyle/
jdoc/
jtidy/
killring.xml
mirrorList.xml
nosplash
perspective.xml
pluginMgr-Cached.xml.gz
plugins/CandyFolds/
plugins/beauty.BeautyPlugin/
plugins/cswilly.jeditPlugins.spell.SpellCheckPlugin/
plugins/ctagsinterface.main.CtagsInterfacePlugin
plugins/ise.plugin.bmp.BufferLocalPlugin/
plugins/ise.plugin.svn.SVNPlugin/
plugins/projectbuilder.ProjectBuilderPlugin/
plugins/projectviewer.ProjectPlugin/fileassocs.properties
plugins/projectviewer.ProjectPlugin/projects/
plugins/projectviewer.ProjectPlugin/pv.xml
plugins/tasklist.TaskListPlugin/
plugins/xml.XmlPlugin/
plugins/xslt.XSLTPlugin/
recent.xml
registers.xml
ruby/
scalac/
sessions/
settings-backup/
templates/
themes/
updaterPlugin.log
velocity/

keymaps/imported_keysZ.props
DockableWindowManager/perspective-view0.xml

plugins/projectviewer.ProjectPlugin/config.properties
*/jedit.properties
